<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm sticky-top">

<div class="container">

<a class="navbar-brand d-flex align-items-center" href="/">

<img
src="/static/images/logo.png"
class="logo-img me-2">

<strong>AL SAMADIYA IMMO</strong>

</a>

<button
class="navbar-toggler"
type="button"
data-bs-toggle="collapse"
data-bs-target="#menu">

<span class="navbar-toggler-icon"></span>

</button>

<div
class="collapse navbar-collapse"
id="menu">

<ul class="navbar-nav ms-auto">

<li class="nav-item">
<a class="nav-link" href="/">
Accueil
</a>
</li>

<li class="nav-item">
<a class="nav-link" href="#">
Terrains
</a>
</li>

<li class="nav-item">
<a class="nav-link" href="#">
Maisons
</a>
</li>

<li class="nav-item">
<a class="nav-link" href="#">
Appartements
</a>
</li>

<li class="nav-item">
<a class="nav-link" href="#">
Champs
</a>
</li>

<li class="nav-item ms-3">

<a
href="/login"
class="btn btn-outline-light">

Connexion

</a>

</li>

<li class="nav-item ms-2">

<a
href="/ajouter-annonce"
class="btn btn-warning">

Déposer une annonce

</a>

Déposer une annonce

</a>

</li>

</ul>

</div>

</div>

</nav>