<div class="topbar">
    <div class="container d-flex justify-content-between align-items-center">

        <div>
            <i class="fas fa-phone"></i> +221 77 930 69 10
            &nbsp;&nbsp;

            <i class="fas fa-envelope"></i>
            contact@alsamadiya-immo.com
        </div>

        <div>

            <a href="#" class="top-link">
                <i class="fab fa-facebook-f"></i>
            </a>

            <a href="#" class="top-link">
                <i class="fab fa-instagram"></i>
            </a>

            <a href="#" class="top-link">
                <i class="fab fa-whatsapp"></i>
            </a>

        </div>

    </div>
</div>