{% extends "base.html" %}

{% block content %}

{% include "partials/hero.html" %}

<div id="recherche">

{% include "partials/search.html" %}

</div>

<section class="container py-5">

<h2 class="text-center mb-5">

🏠 Dernières annonces

</h2>

<div class="row">

<div class="col-md-4">

<div class="card shadow border-0 rounded-4">

<img
src="/static/images/banner.png"
class="card-img-top">

<div class="card-body">

<h5>Villa Moderne</h5>

<p>Dakar • Almadies</p>

<h4 class="text-success">

95 000 000 FCFA

</h4>

<a href="#"
class="btn btn-primary w-100">

Voir le bien

</a>

</div>

</div>

</div>

<div class="col-md-4">

<div class="card shadow border-0 rounded-4">

<img
src="/static/images/banner.png"
class="card-img-top">

<div class="card-body">

<h5>Terrain</h5>

<p>Touba</p>

<h4 class="text-success">

18 000 000 FCFA

</h4>

<a href="#"
class="btn btn-primary w-100">

Voir le bien

</a>

</div>

</div>

</div>

<div class="col-md-4">

<div class="card shadow border-0 rounded-4">

<img
src="/static/images/banner.png"
class="card-img-top">

<div class="card-body">

<h5>Appartement</h5>

<p>Thiès</p>

<h4 class="text-success">

35 000 000 FCFA

</h4>

<a href="#"
class="btn btn-primary w-100">

Voir le bien

</a>

</div>

</div>

</div>

</div>

</section>

{% endblock %}